.our-advantages{
    color: #000000;
}
.our-advantages-text{
    display: flex;
    justify-content: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    color: #000000;
    margin-top: 100px;
    margin-bottom: 50px;
}
.advantages-block{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}
.advantages-numeration{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    width: 560px;
}
.advantages-top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.advantages{
    max-width: 160px;
    width: 100%;
    min-height: 145px;
    background-color: #C4C4C4;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}
.advantages.active{
    max-width: 160px;
    width: 100%;
    min-height: 145px;
    background-color: #828282;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: white;
}
.advantages-bottom{
    display: flex;
    justify-content: space-between;
}
.image-advantages{
    max-width:540px;
    width: 100%;
    max-height: 320px;
    background-color: #828282;
    display: flex;
   justify-content: center;
   align-items: center;
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   color: white;
   display: none;
}
.image-advantages.active{
    max-width:540px;
    width: 100%;
    max-height: 320px;
    background-color: #828282;
    display: flex;
   justify-content: center;
   align-items: center;
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   color: white;
}
.f{
    display: flex;
}
.style-img-advantages{
    max-width: 540px;
    width: 100%;
    min-height: 320px;
    max-height: 320px;
    height: 100%;
}