.question-block{
    display: flex;
    color: black ;
    margin-bottom: 100px;
 }
 .block-fon{
    min-width: 560px;
    min-height: 705px;
    background-color: #828282;
}
.form-question{
    min-width: 550px;
    background-color: #FBFBFB;
}
.question{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    font-family: 'Golos';
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
}
.write-to-us{
    display: flex;
    justify-content: center;
    margin-top: 23px;
    margin-bottom: 45px;
    font-family: 'Golos';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}
.form{
    display: flex;
    justify-content: center;
}
.form-name{
    padding: 19px 0 20px 20px;
    background-color: #EEEEEE;
    font-family: 'Golos';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    width: 370px;
    margin-bottom: 20px;
}
.form-message{
    padding: 19px 0 0px 20px;
    background-color: #EEEEEE;
    font-family: 'Golos';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    width: 370px;
    height: 180px;
    margin-bottom: 20px;
}
.button-send{
    background-color: #4F4F4F;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    padding: 10px 27px 11px 28px;
    color: white;
    margin-left: 335px;
}