.img-country{
    max-width: 320px;
    width: 100%;
    height: 320px;
}
.profiles-and-accessories-section{
    color: #000000;
}
.profiles-and-accessories-text{
    margin-top: 92px;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    color: #000000;
}
.link-country-position{
    display: flex;
    margin-bottom: 10px;
}
.link-country{
    width: 113px;
    height: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.link-country.active{
    width: 113px;
    height: 37px;
    background-color: #E0E0E0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-link-country{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}
.picture-text-block{
    background-color:#E0E0E0;;
    width: 1110px;
    height: 730px;
    display: flex;
    display: none;
}
.picture-text-block.active{
    background-color:#E0E0E0;;
    width: 1110px;

    display: flex;
}
.vertical-img{
    padding: 30px 30px 0 30px;
}
.vertical-img-top{
    width: 320px;
    height: 320px;
    width: 100%;
    background-color: #828282;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 30px;
}
.vertical-img-bottom{
    min-width: 320px;
    min-height: 320px;
    background-color: #828282;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
}
.big-text-block{
    margin-top: 30px;
    max-width: 700px;
    width: 100%;
    background-color: #828282;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    height: 670px;
}
.picture-text-block{
    background-color:#E0E0E0;;
    width: 1110px;
    display: flex;
    display: none;
}
.picture-text-block.active{
    background-color:#E0E0E0;;
    width: 1110px;
    display: flex;
}
