button {
    background-color: transparent;
}
a{
    text-decoration: none;
}

.order-list-slider-img{
    max-width: 255px;
    height: 297px;
}
.order-list{
    background-color: #E0E0E0;
    height: 462px;
}

.decoration-text-order{
    display: flex;
    justify-content: start;
}
.order-consultation{
    padding-top: 0px;
}
.main{
    font-size: 25px;
    font-weight: 900;
}
.servis-list{
    font-family: 'Roboto', sans-serif;
    padding-bottom: 30px;
}
.midle{
    font-weight: 400;
    font-size: 14px;
}
.link-consultation:hover{
    background-color: black;
}
.link-consultation{
    width: 214px;
    height: 46px;
    background-color: #4F4F4F;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 14px;
}
.position-text-consultation{
    padding: 15px 21px 15px 28px;
    color: aliceblue;
}
.slider-show{
    color: white;
    overflow: hidden;
}
.slider{
    width: 540px;
    display: flex;
   padding-top: 60px;
   position: relative;
   right: 0;
   transition: all ease 1s;
}
.head-image-slider-left{
    max-width: 255px;
    width: 100%;
    background-color: #828282;
    margin-right: 30px;
    height: 297px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container._vertical{
    flex-direction: column;
    align-items: unset;
    flex-wrap: unset;
    justify-content: unset;
 }
 .progress-bar{
    display: flex;
    justify-content: end;
    margin-top: 15px;
}
.button-slider-right{
    margin-right: 65px;
}
.button-slider-left{
    margin-right: 15px;
}
.progress-control{
    margin-top: 10px;
}
.img-slider-order-list{
    max-width: 255px;
    height: 297px;
}
.group{
    display: flex;
}
.progress-sli{
    background-color: #828282;
    width: 89px;
    height: 4px;
    margin-top: 1px;
    margin-left: 0px;
    position: relative;
    transition: 0.4s all;
    left: 0px;
}
.progress-line{
    width: 402px;
    height: 2px;
    background-color: #BDBDBD;
}