*{
    padding: 0;
    margin: 0;
    border: 0;
}

button {
    background-color: transparent;
    outline: none;
    cursor: pointer;
    border: none;
}
header{
    background-color: #BDBDBD;
    display: flex;
    width: 100%;
    padding: 19px 0;
}

.container{
    width:100%;
    max-width:1110px;
    margin:0 auto;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    max-width: 160px;
    width: 100%;
    height: 60px;
    background-color: #828282;
    color: white;
    font-weight: 400;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.header-menu{
    display: flex;
    font-weight: 400;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color:#000000;
    flex-wrap: wrap;
    justify-content: space-between;
    line-height: 18px;
    max-width: 675px;
    width: 100%;
}
.style-link-header{
    text-decoration: none;
    color: black;
}
.contacts-header{
    margin-left: 17px;
    max-width: 172px;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}
.position-number{
    text-decoration: none;
    display: flex;
    justify-content: end;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: black;
}
.contact-number{
    font-weight: 700;
    text-align: right;
    padding-bottom: 5px;
    font-size: 18px;
    color: black;
}
.contact-email{
    font-weight: 400;
    font-size: 18px;
}
