footer{
    background-color: #4F4F4F;
}
.footer-content{
    display: flex;
}
.position-logo{
    width: 475px;
    margin-top: 60px;
    margin-bottom: 251px;
}
.list-furniture{
    width: 285px;
    margin-top: 60px;
    color: white;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
}
.position-word-footer{
    display: flex;
    padding-bottom: 15px;
}
.contact-footer{
    margin-top: 60px;
    color: white;
}
.white-square{
    display: flex;
}
.square{
    width: 20px;
    background-color: white;
    height: 20px;
    margin-right: 10px;
}