.our-work-section{
    color: #000000;
}
.our-work{
    display: flex;
    justify-content: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    color: #000000;
    margin-top: 100px;
    margin-bottom: 50px;
}
.link-furniture{
    display: flex;
    margin-bottom: 10px;
}
.text-link-furniture{
    margin-right: 30px;
    padding: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
}
.text-link-furniture.active{
    margin-right: 30px;
    padding: 10px;
    background-color: #E0E0E0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
}
.wrpapper{
    width: 670px;
    display: flex;
    flex-wrap: wrap;
}
.our-work-block{
    display: none;
    gap: 15px;
    justify-content: space-between;
    background-color: #E0E0E0;
    padding-bottom: 30px;
    margin-bottom: 100px;
}
.our-work-block.active{
    display: flex;
    justify-content: space-between;
    background-color: #E0E0E0;
    padding-bottom: 30px;
    margin-bottom: 100px;
}
.block-litle-image{
    padding: 30px 0 0 30px;
    width: 300px;
}
.top-litle-image{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.litle-image-work{
    max-width: 320px;
    width: 100%;
    min-height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #828282;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
}
.bottom-litle-image{
    display: flex;
    justify-content: space-between;
}
.block-big-image{
    margin-top: 30px;
    margin-right: 30px;
    min-width: 350px;
    background-color:  #828282;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
}